[DEFAULT]
enabled_apis = masakari_api
transport_url = {{ masakari_oslomsg_rpc_transport }}://{% for host in masakari_oslomsg_rpc_servers.split(',') %}{{ masakari_oslomsg_rpc_userid }}:{{ masakari_oslomsg_rpc_password }}@{{ host }}:{{ masakari_oslomsg_rpc_port }}{% if not loop.last %},{% else %}/{{ masakari_oslomsg_rpc_vhost }}{% if (masakari_oslomsg_rpc_use_ssl | lower) | bool %}?ssl=1{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}
# Enable to specify listening IP other than default
masakari_api_listen = 0.0.0.0
# Enable to specify port other than default
masakari_api_listen_port = 15868
debug = False
auth_strategy=keystone
log_dir = {{ masakari_log_dir }}
wait_period_after_service_update = 180
masakari_topic = ha_engine
engine_manager = masakari.engine.manager.MasakariManager
host_failure_recovery_threads = 3
wait_period_after_power_off = 60
wait_period_after_evacuation = 90
verify_interval = 1
wait_period_after_power_off = 60
verify_interval = 1
notification_driver = taskflow_driver
process_unfinished_notifications_interval = 120
retry_notification_new_status_interval = 60
duplicate_notification_detection_interval = 180
osapi_max_limit = 1000
retry_notification_new_status_interval = 60
duplicate_notification_detection_interval = 180
osapi_max_limit = 1000
fatal_exception_format_errors = false
nova_catalog_admin_info = compute:Compute Service:publicURL
nova_api_insecure = false
report_interval = 10
periodic_enable = true
periodic_interval_max = 300
periodic_fuzzy_delay = 60
use_ssl = false
service_down_time = 60

[wsgi]
# The paste configuration file path
api_paste_config = {{ masakari_etc_dir }}/api-paste.ini

[keystone_authtoken]
auth_url = {{ keystone_service_adminuri }}
www_authenticate_uri = {{ keystone_service_internaluri }}
auth_type = password
project_domain_id = {{ masakari_service_user_domain_id }}
user_domain_id = {{ masakari_service_project_domain_id }}
project_name = {{ masakari_service_project_name }}
username = {{ masakari_service_user_name }}
password = {{ masakari_service_password }}

[database]
connection = mysql+pymysql://{{ masakari_galera_user }}:{{ masakari_container_mysql_password }}@{{ masakari_galera_address }}/{{ masakari_galera_database }}?charset=utf8{% if masakari_galera_use_ssl | bool %}&ssl_ca={{ masakari_galera_ssl_ca_cert }}{% endif %}


[host_failure]
evacuate_all_instances = true
add_reserved_host_to_aggregate = false
ignore_instances_in_error_state = false

[instance_failure]
process_all_instances = false

[oslo_messaging_rabbit]
ssl = {{ masakari_oslomsg_notify_use_ssl | bool }}

[oslo_messaging_notifications]
transport_url = {{ masakari_oslomsg_notify_transport }}://{% for host in masakari_oslomsg_notify_servers.split(',') %}{{ masakari_oslomsg_notify_userid }}:{{ masakari_oslomsg_notify_password }}@{{ host }}:{{ masakari_oslomsg_notify_port }}{% if not loop.last %},{% else %}/{{ masakari_oslomsg_notify_vhost }}{% if (masakari_oslomsg_notify_use_ssl | lower) | bool %}?ssl=1{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}
